<!-- Html -->
{% extends 'authentication/auth-base.html' %}

<!-- Title -->
{% block title %}Register - My Client App{% endblock %}

<!-- Content -->
{% block auth_content %}
<div x-data="registerForm">
    <h1 class="text-3xl font-bold text-center text-gray-900">Register</h1>
    <form @submit.prevent="register" class="space-y-4">
        <template x-if="errors.form">
            <div x-text="errors.form" class="p-3 text-sm text-red-700 bg-red-100 border border-red-400 rounded-md">
            </div>
        </template>

        <div>
            <label for="register-username" class="block text-sm font-medium text-gray-700">Username:</label>
            <input type="text" id="register-username" name="register-username" required x-model="username"
                :class="{'border-red-500 focus:border-red-500 focus:ring-red-500': errors.username, 'border-gray-300 focus:border-indigo-500 focus:ring-indigo-500': !errors.username}"
                class="w-full px-3 py-2 mt-1 border rounded-md shadow-sm">
            <template x-if="errors.username">
                <div x-text="errors.username" class="mt-1 text-xs text-red-600"></div>
            </template>
        </div>
        <div>
            <label for="register-email" class="block text-sm font-medium text-gray-700">Email:</label>
            <input type="email" id="register-email" name="register-email" required x-model="email"
                :class="{'border-red-500 focus:border-red-500 focus:ring-red-500': errors.email, 'border-gray-300 focus:border-indigo-500 focus:ring-indigo-500': !errors.email}"
                class="w-full px-3 py-2 mt-1 border rounded-md shadow-sm">
            <template x-if="errors.email">
                <div x-text="errors.email" class="mt-1 text-xs text-red-600"></div>
            </template>
        </div>
        <div>
            <label for="register-password" class="block text-sm font-medium text-gray-700">Password:</label>
            <input type="password" id="register-password" name="register-password" required x-model="password"
                :class="{'border-red-500 focus:border-red-500 focus:ring-red-500': errors.password, 'border-gray-300 focus:border-indigo-500 focus:ring-indigo-500': !errors.password}"
                class="w-full px-3 py-2 mt-1 border rounded-md shadow-sm">
            <template x-if="errors.password">
                <div x-text="errors.password" class="mt-1 text-xs text-red-600"></div>
            </template>
        </div>
        <div>
            <button type="submit" :disabled="isLoading"
                class="w-full px-4 py-2 font-medium text-white bg-indigo-600 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:opacity-50">
                <span x-show="!isLoading">Register</span>
                <span x-show="isLoading">Loading...</span>
            </button>
        </div>
    </form>
</div>
{% endblock %}

